<%- include('content/header') -%>
   <div class="container center">
       <a href="/blogs"><button class="btn-index">View Blogs</button></a>
       <a href="/blogs/new"><button class="btn-index">Add New Blog</button></a>
   </div>
<%- include('content/footer') -%>