<%- include('content/header') -%>
   <div class="container center">
       <h2>Welcome To BlogApp</h2>
       <a href="/blogs"><button class="btn-index">Go To Blog Page</button></a>
   </div>
<%- include('content/footer') -%>