<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <div class="container flex space-between align-items">
      <a href="/" class="logo">Blog App</a>
      <ul class="flex space-between align-items">
        <li><a href="/">Home</a></li>
        <%if (!locals.session.loggedIn) { %>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
        <% } else {%>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/new">Add New Blog</a></li>
        <li><a href="/users/logout">Logout</a></li>
     <% } %>
      </ul>
    </div>
    </nav>